body
    +light
    color: $text-color

img
    width: 100%

.section
    padding: 100px 0px
    &-title
        font-size: 30px
        +bold
        text-transform: uppercase
        text-align: center
    &__title
        margin-bottom: 100px

.button-o
    text-transform: uppercase
    border: 2px solid $primary
    padding: 17px 22px
    font-size: 12px
    +bold
    background: none
    color: $primary
    text-decoration: none

.button
    text-decoration: none
    padding: 25px 45px
    text-transform: uppercase
    border: none
    background-color: $primary
    color: #fff
    +bold
    &:hover
        cursor: pointer
    &-fitting
        color: $primary
        background-color: #fff
    &-add
        background-color: lighten($primary, 10%)
        color: #fff
    &-like
        background-color: $primary
        height: 30px
        border: none
        width: 30px
        padding: 5px

.bg-secondary
    background: $bg-secondary

.input
    height: 80px
    padding-left: 30px
    border: 1px solid #dddddd

.select
    height: 80px
    width: 100%
    border: 1px solid #dddddd
    position: relative
    cursor: pointer
    &__checked
        display: flex
        justify-content: space-between
        align-items: center
        line-height: 80px
        padding-left: 30px
        &::after
            content: ''
            display: block
            width: 15px
            height: 15px
            border-top: 2px solid #ddd
            border-left: 2px solid #ddd
            transform: rotate(-135deg)
            margin-right: 20px
            margin-bottom: 10px
    &__dropdown
        display: none
        position: absolute
        top: 80px
        width: 100%
        background-color: #fff
        border: 1px solid #dddddd
        margin: 0
        list-style: none
        padding: 0
        &_open
            display: block
    &__option
        padding: 25px 0
        padding-left: 30px
        &:hover
            background-color: $bg-secondary

    


.checkbox
    display: none
    &:checked + label::before
        background: $primary
    &-label
        display: flex
        align-items: center
        margin-right: 40px
        &:hover
            cursor: pointer
        &::before
            content: ''
            width: 30px
            height: 30px
            border: 1px solid #dddddd
            margin-right: 20px

@media (max-width: 576.98px)
    .button
        font-size: 10px
        &-o
        font-size: 10px
    .section
        padding: 60px 0
        &-title
            font-size: 24px